.container {
  margin: 1rem;
  padding: 1rem;
  max-width: 1700px;
}

.example-spacer {
  flex: 1 1 auto;
}

.new {
  margin: 1rem;
}

div.movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.push-down {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

@media (max-width: 720px) {
  div.exams {
    grid-template-columns: 1fr;
  }
}
