<div class="ui menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="movies" routerLinkActive="active" class="item">Movies</a>
  <a routerLink="actors" routerLinkActive="active" class="item">Actors</a>
  <a routerLink="admin" routerLinkActive="active" class="item">Admin Area</a>
  <div class="right menu">
    <a class="ui item" (click)="loginAuth()" *ngIf="!auth.token">Sign In</a>
    <a class="ui item" (click)="auth.logout()" *ngIf="auth.token">Sign Out</a>
  </div>
</div>
<router-outlet></router-outlet>
