<div *ngIf="actor">
  <h1>{{ actor.name }}</h1>
  <div>ID: {{ actor.id }}</div>
  <div class="ui divider"></div>
  <p>Age: {{ actor.age }}</p>
  <div class="ui divider"></div>
  <p>Gender: {{ actor.gender }}</p>
  <div *ngIf="this.auth.can('delete:actor')">
    <button
      (click)="removeActor()"
      class="ui primary button"
      routerLink="/actors"
    >
      Delete
    </button>
    <button
      class="ui button"
      [routerLink]="['../../admin/edit/actors', actor.id]"
    >
      Update
    </button>
  </div>
</div>
