<div *ngIf="movie">
  <h1>{{ movie.title }}</h1>
  <div>ID: {{ movie.id }}</div>
  <div class="ui divider"></div>
  <h4>Release Date</h4>
  <p>{{ movie.release_date }}</p>
  <div class="ui divider"></div>
  <div *ngIf="this.auth.can('delete:movies')">
    <button
      (click)="removeMovie()"
      class="ui primary button"
      routerLink="/movies"
    >
      Delete
    </button>
  </div>
  <div *ngIf="this.auth.can('patch:movie')">
    <button class="ui button" [routerLink]="['../../admin/edit', movie.id]">
      Update
    </button>
  </div>
</div>
