<div *ngIf="!this.auth.can('add:actors')">
  <p>
    You do not have permissions to add any information to our database. Please
    contact your Casting Director or Executive Producer.
  </p>
</div>
<div *ngIf="this.auth.can('add:actors') && !this.auth.can('add:movies')">
  <p>
    You do not have permissions to add <strong>movies</strong> to our database.
    Please contact your Executive Producer.
  </p>
</div>
<div *ngIf="this.auth.can('add:movies')">
  <h1>Add a Movie</h1>
  <ca-movie-form (submitMovie)="createMovie($event)"></ca-movie-form>
</div>
<div class="ui divider"></div>
<div *ngIf="this.auth.can('add:actors')">
  <h1>Add an Actor</h1>
  <ca-actor-form (submitActor)="createActor($event)"></ca-actor-form>
</div>
